<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>Upload images</title>
	    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<div>
			<form action="upload-image" method="post" enctype="multipart/form-data">
				<div>
					<input type="file" name="file" class="btn btn-success"  accept="image/png, image/jpeg"  multiple />
				</div>
    			<div class="form-group col-md-3">
    				<button type="submit" class="btn btn-success">Salvar</button>
    			</div>
			</form>
		</div>
	</body>
</html>